<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Evaluate News With NLP</title>
  <link rel="stylesheet" href="/styles/resets.scss" />
  <link rel="stylesheet" href="/styles/base.scss" />
  <link rel="stylesheet" href="/styles/header.scss" />
  <link rel="stylesheet" href="/styles/form.scss" />
  <link rel="stylesheet" href="/styles/footer.scss" />
</head>

<body>
  <header>
    <div class="">EvalNews</div>
    <div class="">navigation</div>
  </header>

  <main>
    <section>
      <form class="eval-form" onsubmit="return Client.handleSubmit(event)">
        <div class="textarea-container">
          <label for="url">Enter the URL of any blog here:</label>
          <input type="url" id="url" name="url" placeholder="Enter URL here..." />
        </div>
        <input type="submit" value="Submit" />
      </form>
    </section>

    <section>
      <div id="results"></div>
    </section>
  </main>

  <footer>
    <p>
      Created by
      <a href="https://www.ankitvashisht.in" target="_blank" rel="noreferrer">Ankit Vashisht</a>
      | Udacity Front End Web Developer Nanodegree
    </p>
  </footer>
</body>

</html>
